# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VIM swap file
*.swp

# build directories
build*/

# python cache
__pycache__

# FetchContent cache
.fetch_content

# for Android
android-project/.gradle/
android-project/.idea/
android-project/app/.cxx/
android-project/local.properties
android-project/app/src/main/assets/

